bin/Debug/netcoreapp1.0/hwapp.deps.json
bin/Debug/netcoreapp1.0/hwapp.dll
bin/Debug/netcoreapp1.0/hwapp.pdb
bin/Debug/netcoreapp1.0/hwapp.runtimeconfig.dev.json
bin/Debug/netcoreapp1.0/hwapp.runtimeconfig.json
obj/Debug/netcoreapp1.0/.IncrementalCache
obj/Debug/netcoreapp1.0/.SDKVersion
obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
obj/Debug/netcoreapp1.0/dotnet-compile.assemblyinfo.cs
obj/Debug/netcoreapp1.0/dotnet-compile.rsp
